# Gold Price Analysis Project
## Data Source & Attribution

This analysis is based on the **Historical Gold Prices (1995–2026)** provided by [Kaggle](https://www.kaggle.com/).

* **Dataset Source:** https://www.kaggle.com/datasets/mr1rameez/historical-gold-prices-19952026
* **License:** [Creative Commons Attribution 4.0 International (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/)
* **Author/Publisher:** Muhammad Rameez

> **Notice:** As required by the CC BY 4.0 license, any modifications, data cleaning, or transformations performed on the original dataset are documented in the code sections below.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

**Note:** In the previous cell, we imported the necessary libraries for our analysis:  

- `pandas` for data manipulation and handling the DataFrame.  
- `matplotlib.pyplot` for creating visualizations and plots of the gold price data.

**Note:** In the next cell, we load the gold price dataset from a CSV file into a Pandas DataFrame called `df`.  
The dataset contains monthly gold prices from August 2000 to February 2026.  
Using Pandas allows us to easily manipulate, analyze, and visualize the data.

df = pd.read_csv('Dataset/gold_prices_aug_2000_2026_feb.csv')

In [ ]:
df.head(10)

In the previous cell, we use `df.head(10)` to display the first 10 rows of the DataFrame.  
This allows us to quickly inspect the structure of the data, check the column names,

In [ ]:
df.info()

Using df.info() gives the following information about the DataFrame: 

The dataset contains 307 rows and 2 columns. The columns are:

Date – 307 non-null entries, type str (dates stored as text)

Gold_Price_USD_YFinance – 307 non-null entries, type float64 (gold prices in USD)

The DataFrame uses approximately 4.9 KB of memory.

There are no missing values, so the dataset is complete. You may consider converting the Date column to datetime for easier time-series analysis.

Note: The Date column is currently stored as strings. To perform time-series analysis, it is recommended to convert it to datetime format using pd.to_datetime().

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.info()

Now that I have converted the Date column to datetime,and I used the df.info() function to comfirm,Now I will sort the dates from oldest to newest in the next cell. This ensures that any issues with date order are resolved.

In [ ]:
df = df.sort_values('Date')

In [ ]:
df.head()

In the next cell, I will change the index to the dataframe from 0,1,2,... to the dates in the data frame

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
df.head(10)

**Note:** After setting the `Date` column as the index, we need to ensure that all dates are unique. 
Duplicated dates can cause issues in time-series analysis, such as incorrect plots, wrong calculations 
for moving averages or returns, and problems with resampling or rolling operations. 

The following cell checks for any duplicated dates in the index to make sure our data is safe for analysis.

In [ ]:
df.index.duplicated().sum()

df.index.duplicated().sum() returns np.int64(0), it simply means there are zero duplicated dates in your DataFrame index.

**Data Ready for Analysis:**  

The `Date` column has been converted to `datetime`, sorted from oldest to newest, and set as the DataFrame index.  
There are no missing values, and all dates are unique.  

This means the dataset is now clean and properly structured, and it is ready for time-series analysis, plotting, and calculation of returns, moving averages, or volatility.